/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

body {
  background: #fff;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: "Arimo", sans-serif !important;
  color: #151515;
  margin: 0;
  padding: 0;
  width: 96%;
  padding-left: 2%;
}

.illus3 {
  /* position: fixed; */
  margin-top: -80px;
  margin-left: 30px;
}

.illus {
  height: 400px;
  width: 400px;
  margin-top: 420px;
  margin-left: -150px;
  position: fixed;
}

.illus4 {
  display: none;
}

.mid {
  /* border: 1px solid red; */
  margin-top: 50px;
  z-index: 999;
}

.mid h1 {
  text-align: center;
  margin-top: 80px;
  /* font-family: "Roboto"; */
}

.mid p {
  font-family: "Roboto";
}

form {
  margin-top: 15px;
}

input {
  margin-top: 10px !important;
  /* margin-bottom: 5px !important; */
}

label {
  padding: 5px 3px;
}

.tele {
  margin-top: 10px !important;
}

.form-row {
  margin: auto !important;
}

form button {
  background: linear-gradient(to right, #0066cc 0%, #66ffff 100%);
  border: none !important;
  /* padding: 10px 0px !important; */
  color: #151515 !important;
  width: 180px !important;
  border-radius: 25px !important;
  margin: auto;
}

.form-row p {
  padding-top: 20px !important;
  margin: auto !important;
}

.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
  outline: none !important;
  outline: 0 !important;
}

.illus2 {
  width: 1400px;
  /* height: 500px; */
  margin-top: -350px;
  margin-left: -670px;
  position: fixed;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 24px !important;
  }

  p {
    font-size: 16px !important;
  }

  .illus2 {
    display: none;
  }

  .illus {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .mid {
    margin-top: -160px;
  }
  .illus4 {
    display: block;
    height: auto;
    width: 106%;
    margin: 0;
    padding: 0;
    margin-left: -2%;
    position: fixed;
    bottom: 0;
  }
}
